# Rename to terraform.tfvars to have Terraform automatically load variables.

# See descriptions in static.tf

# Required:
# hostname = ""
# ssl_cert_arn = ""
# logging_bucket = ""

# Optional:
# aws_region = ""
# aws_cli_profile = ""
# environment_name = ""
# use_short_dns = true
